@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&family=Lato:ital,wght@0,400;0,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.header {
  background-image: url(assets/icons_logos/main-bg.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hidden {
  display: none;
}

.ham-div { 
  margin: 0 10px 40px 20px;
}

.ham-div i { 
  font-size: 50px;
}

.heading {
  padding: 0 10px 10px 40px;
}
.heading h1 {
  color: #ec5242;
  font-size: x-large;
  font-weight: 900;
  line-height: 44px;
  margin-bottom: 20px;
  
}

.conf {
  color: #ec5242;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #d3d3d3;
  box-shadow: 2px 2px 2px rgb(228, 224, 224);
  border-radius: 4px;
  padding: 18px 12px;
  opacity: 1;
  margin-right: 20px;
  /* mix-blend-mode:screen;
  backdrop-filter: blur(12px); */
}

.date-time {
  font-size: 20px;
  font-weight: 900;
  color: #d1afaf;
}

.venue {
  font-size: 14px;
  font-weight: 900;
}

.programs {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  background-image: url(assets/Hexagon.svg);
  background-repeat: repeat;
  background-size: cover;
  padding: 8px 12px;
}
 .programs h2 {
  text-align: center;
  color: #d3d3d3;
 }

.program-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  background-color: #3b3e45;
  margin-bottom: 10px;
  border-radius: 4px;
  mix-blend-mode:screen;
  backdrop-filter: blur(2px);
  padding: 10px 0;
}
/* 
.program-item img {
  width: 100%;
} */

.program-item img {
  width: 50px;
  margin: 0;
}

.program-item span {
  font-size: 17px;
  font-weight: 600;
  width: 75px;
  margin-left: 0px;
  color: #ec5242
}

.program-item p {
  width: 200px;
  color: #d3d3d3;
  margin-left: 10px;
}

.programs button {
  background-color: #ec5242;
  margin: 20px 25px;
  padding: 30px 12px;
  font-size: 22px;
  color: #fff;
  border: none;
  border-radius: 4px;
  mix-blend-mode:screen;
  backdrop-filter: blur(-5px);
}

footer {
  background-color: #272a31;
  gap: 20px;
  align-items: center;
  padding: 8px 12px;
  width: 100%;
  position: absolute;
  left: 0;
  color: #d3d3d3;
  font-size: 10px;
  line-height: 12px;

}

.f-logo img {
  width: 100%;
}
